<style>
  .shipButtons {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .center {
    display: flex;
    justify-content: center
  }

</style>

<div>
  <div>
    <button type="button" (click)="this.gameService.randomlyPlaceAllShips()">Randomize Ships</button>
    <button style="float: right" type="button" (click)="this.gameService.clearBoard()">Clear Ships</button>
  </div>

  <div class="center">
    <mat-checkbox (click)="placementOrientation()">Place Horizontally</mat-checkbox>
  </div>
  <div class="shipButtons">
    <button type="button" [style.background-color]="this.gameService.gameState.currentShip==ShipType.AIRCRAFT_CARRIER ? 'red' : 'white'"  (click)="setCurrentShip(ShipType.AIRCRAFT_CARRIER)">Place aircraft carrier</button>
    <button type="button" [style.background-color]="this.gameService.gameState.currentShip==ShipType.BATTLESHIP ? 'blue' : 'white'" (click)="setCurrentShip(ShipType.BATTLESHIP)">Place battleship</button>
    <button type="button" [style.background-color]="this.gameService.gameState.currentShip==ShipType.DESTROYER ? 'green' : 'white'" (click)="setCurrentShip(ShipType.DESTROYER)">Place destroyer</button>
    <button type="button" [style.background-color]="this.gameService.gameState.currentShip==ShipType.SUBMARINE ? 'yellow' : 'white'" (click)="setCurrentShip(ShipType.SUBMARINE)">Place submarine</button>
    <button type="button" [style.background-color]="this.gameService.gameState.currentShip==ShipType.CRUISER ? 'orange' : 'white'" (click)="setCurrentShip(ShipType.CRUISER)">Place crusier</button>
  </div>

  <board [board]="this.gameService.gameState.activePlayer.playerBoard"></board>
</div>


