<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

  td, th {
    border: 2px solid #dddddd;
    text-align: center;
    height: 50px;
    width: 50px;
  }
</style>

<div>
  <h3>Your Battleship Board</h3>

  <table>
    <tr>
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
      <th>I</th>
      <th>J</th>
    </tr>
    <tr>
      <td>0</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '0')}">{{displayValue("A", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '0') }">{{displayValue("B", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '0') }">{{displayValue("C", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '0') }">{{displayValue("D", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '0') }">{{displayValue("E", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '0') }">{{displayValue("F", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '0') }">{{displayValue("G", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '0') }">{{displayValue("H", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '0') }">{{displayValue("I", "0")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '0') }">{{displayValue("J", "0")}}   </td>

    </tr>
    <tr>
      <td>1</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '1') }">{{displayValue("A", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '1') }">{{displayValue("B", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '1') }">{{displayValue("C", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '1') }">{{displayValue("D", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '1') }">{{displayValue("E", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '1') }">{{displayValue("F", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '1') }">{{displayValue("G", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '1') }">{{displayValue("H", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '1') }">{{displayValue("I", "1")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '1') }">{{displayValue("J", "1")}}   </td>
    </tr>
    <tr>
      <td>2</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '2') }">{{displayValue("A", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '2') }">{{displayValue("B", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '2') }">{{displayValue("C", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '2') }">{{displayValue("D", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '2') }">{{displayValue("E", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '2') }">{{displayValue("F", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '2') }">{{displayValue("G", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '2') }">{{displayValue("H", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '2') }">{{displayValue("I", "2")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '2') }">{{displayValue("J", "2")}}   </td>
    </tr>
    <tr>
      <td>3</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '3') }">{{displayValue("A", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '3') }">{{displayValue("B", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '3') }">{{displayValue("C", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '3') }">{{displayValue("D", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '3') }">{{displayValue("E", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '3') }">{{displayValue("F", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '3') }">{{displayValue("G", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '3') }">{{displayValue("H", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '3') }">{{displayValue("I", "3")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '3') }">{{displayValue("J", "3")}}   </td>
    </tr>
    <tr>
      <td>4</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '4') }">{{displayValue("A", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '4') }">{{displayValue("B", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '4') }">{{displayValue("C", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '4') }">{{displayValue("D", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '4') }">{{displayValue("E", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '4') }">{{displayValue("F", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '4') }">{{displayValue("G", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '4') }">{{displayValue("H", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '4') }">{{displayValue("I", "4")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '4') }">{{displayValue("J", "4")}}   </td>
    </tr>
    <tr>
      <td>5</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '5') }">{{displayValue("A", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '5') }">{{displayValue("B", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '5') }">{{displayValue("C", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '5') }">{{displayValue("D", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '5') }">{{displayValue("E", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '5') }">{{displayValue("F", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '5') }">{{displayValue("G", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '5') }">{{displayValue("H", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '5') }">{{displayValue("I", "5")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '5') }">{{displayValue("J", "5")}}   </td>
    </tr>
    <tr>
      <td>6</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '6') }">{{displayValue("A", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '6') }">{{displayValue("B", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '6') }">{{displayValue("C", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '6') }">{{displayValue("D", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '6') }">{{displayValue("E", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '6') }">{{displayValue("F", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '6') }">{{displayValue("G", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '6') }">{{displayValue("H", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '6') }">{{displayValue("I", "6")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '6') }">{{displayValue("J", "6")}}   </td>
    </tr>
    <tr>
      <td>7</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '7') }">{{displayValue("A", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '7') }">{{displayValue("B", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '7') }">{{displayValue("C", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '7') }">{{displayValue("D", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '7') }">{{displayValue("E", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '7') }">{{displayValue("F", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '7') }">{{displayValue("G", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '7') }">{{displayValue("H", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '7') }">{{displayValue("I", "7")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '7') }">{{displayValue("J", "7")}}   </td>
    </tr>
    <tr>
      <td>8</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '8') }">{{displayValue("A", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '8') }">{{displayValue("B", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '8') }">{{displayValue("C", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '8') }">{{displayValue("D", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '8') }">{{displayValue("E", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '8') }">{{displayValue("F", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '8') }">{{displayValue("G", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '8') }">{{displayValue("H", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '8') }">{{displayValue("I", "8")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '8') }">{{displayValue("J", "8")}}   </td>
    </tr>
    <tr>
      <td>9</td>

      <td [ngStyle]="{'background-color': this.getBackgroundColor('A', '9') }">{{displayValue("A", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('B', '9') }">{{displayValue("B", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('C', '9') }">{{displayValue("C", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('D', '9') }">{{displayValue("D", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('E', '9') }">{{displayValue("E", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('F', '9') }">{{displayValue("F", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('G', '9') }">{{displayValue("G", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('H', '9') }">{{displayValue("H", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('I', '9') }">{{displayValue("I", "9")}}   </td>
      <td [ngStyle]="{'background-color': this.getBackgroundColor('J', '9') }">{{displayValue("J", "9")}}   </td>
    </tr>
  </table>
</div>
