
<div>
  <div class="center">
    <h3>Your Battleship Board</h3>
  </div>

  <div class="center">
    <table>
      <tr>
        <th></th>
        <th *ngFor="let col of allCols">{{col}}</th>
      </tr>
      <tr *ngFor="let r of allCols; let row = index">
        <td>{{row}}</td>

        <td *ngFor="let col of allCols; let index = index" #shipPlacement
            (click)="this.gameService.placeCurrentShip(index, row)" [ngStyle]="{'background-color': this.getBackgroundColor(col, row.toString())}">{{displayValue(col, row.toString())}}</td>
      </tr>
    </table>
  </div>
</div>
